{
    "name": "{{project_name}}",
    "dockerComposeFile":[
        "docker-compose.yml"
    ],
    "service": "{{project_name}}",
    "workspaceFolder": "/data",
    "customizations": {"vscode": {"extensions": ["hashicorp.hcl", "hashicorp.terraform", "4ops.terraform","fredwangwang.vscode-hcl-format"]}},
    "remoteUser": "dev"
}